<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Le Zoo qui vous fera vivre une expérience inoublibale. Venez découvrir nos animaux : du lion à la gazelle en passant par l'éléphant. Visites gratuites en petit train, restauration et bien plus encore !">
    <title>ARCADIA - Administration</title>
    <link rel="stylesheet" href="{{ CSS_DIR }}/style.css">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <script src="{{ JS_DIR }}/script.js" type="module" defer></script>
    <script src="{{ JS_DIR }}/admin.js" type="module" defer></script>
</head>
<body>
    <header class="site-header">
        <div class="navbar | size-large">
            <a class="site-brand" href="/">
                <img class="site-logo" src="{{ IMG_DIR }}/logo-arcadia.webp" width="" height="" alt="Logo du Zoo d'Arcadia">
                <span class="site-name">Zoo <span class="color-primary">Arcadia</span></span>
            </a>
            <button class="menu-toggle" aria-expanded="false" aria-controls="primary-navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </button>
            <nav id="primary-navigation" class="primary-navigation">
                <ul class="nav-links">
                    {% if role == 'ROLE_ADMIN' %}
                        <li class="nav-link"><a href="/admin">Dashboard</a></li>
                        <li class="nav-link"><a href="/admin/animaux">Animaux</a></li>
                        <li class="nav-link"><a href="/admin/utilisateurs">Utilisateurs</a></li>
                        <li class="nav-link"><a href="/admin/services">Services</a></li>
                        <li class="nav-link"><a href="/admin/habitats">Habitats</a></li>
                        <li class="nav-link"><a href="/admin/horaires">Horaires</a></li>
                        <li class="nav-link"><a href="/admin/rapports-veterinaires">Rapports vétérinaire</a></li>
                    {% endif %}
                    {% if role == 'ROLE_EMPLOYEE' %}
                        <li class="nav-link"><a href="/admin/avis">Avis du zoo</a></li>
                        <li class="nav-link"><a href="/admin/rapports">Rapports employé</a></li>
                        <li class="nav-link"><a href="/admin/services">Services</a></li>
                    {% endif %}
                    {% if role == 'ROLE_VETERINARIAN' %}
                        <li class="nav-link"><a href="/admin/rapports">Rapports vétérinaire</a></li>
                        <li class="nav-link"><a href="/admin/animaux">Animaux</a></li>
                        <li class="nav-link"><a href="/admin/habitats">Habitats</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block main %}
        <section>
            <div class="size-medium">
                <h1>Espace administration</h1>
                <p>Bienvenue dans votre espace d'administration.</p>
                <h2>Horaires du zoo :</h2>
                <form action="" method="POST" autocomplete="off">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Horaires</th>
                                    {% for day in weekDays %}
                                        <th>{{ day.day }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for scheduleHour in schedulesHours %}
                                    <tr>
                                        <th scope="row">{{ scheduleHour.hour }}</th>
                                        {% for schedule in scheduleHour.schedules %}
                                            <td>
                                                <label class="visually-hidden" for="">Fermé/ouvert ?</label>
                                                <input type="checkbox" name="schedulesIds[]" id="" value="{{ schedule.scheduleId }}" {% if schedule.isOpen == 'true' %} checked {% endif %}>
                                                {% set imgSrc = (schedule.isOpen == 'true') ? 'checkmark.svg' : 'cross.svg' %}
                                                    <img src="{{ IMG_DIR }}/{{ imgSrc}}" width="" height="" alt="">
                                                {% else %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
                    </div>
                    <input type="submit" class="button--active" value="Confirmer">
                </form>
                <h2>Nombre de vues par animal :</h2>
                <ul>
                    {% for animal in animals %}
                        <li>
                            <h3>{{ animal.firstname }}</h3>
                            <p>Habitat : {{ animal.habitat.name }}</p>
                            <p>Espèce : {{ animal.breed.name }}</p>
                            <p>Nombre de vues : {{ animal.views }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section> 
        {% endblock %}
    </main>
    <footer>
        <ul class="size-large">
            <li><a href="">Politique de confidentialité</a></li>
            <li><a href="">Mentions légales</a></li>
        </ul>
    </footer>
</body>
</html>