{% extends "admin/admin.html.twig" %}

{% block main %}
    <section>
        <div class="size-medium">
            <h1>Administration des services du zoo</h1>
            <div class="d-flex gap-1 justify-content-between align-items-center">
                <h2>Liste des services :</h2>
                <button class="dialog-btn button--active" data-dialog-id="dialog-add-service">Ajouter un service</button>
            </div>
            <ul class="list-unstyled">
                {% for service in services %}
                    <li class="media-and-text">
                        <div class="media-and-text__content">
                            <div>
                                <h3>Nom du service :</h3>
                                <p>{{ service.name }}</p>
                            </div>
                            <div>
                                <h3>Description du service :</h3>
                                <p>{{ service.description }}</p>
                            </div>
                            <div class="d-flex gap-1">
                                <button class="dialog-btn button--active" data-dialog-id="dialog-modify-service">Modifier le service</button>
                                <button class="dialog-btn button--active" data-dialog-id="dialog-delete-service">Supprimer le service</button>
                            </div>
                        </div>
                        <div class="media-and-text__media">
                            <img class="rounded-img" src="{{ UPLOAD_DIR ~ '/' ~ service.img }}" alt="">
                        </div>
                    </li>
                    <dialog id="dialog-modify-service" class="dialog">
                        <div class="dialog__content">
                            <div class="dialog__header">
                                <h2 class="dialog__title">Modifier un service</h2>
                            </div>
                            <form class="form" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                                <div class="form-input">
                                    <label for="serviceName" class="form-input__label">Nom du service</label>
                                    <input type="text" name="serviceName" id="serviceName" class="form-input__input" value="{{ service.name }}">
                                </div>
                                <div class="form-input">
                                    <label for="serviceDescription" class="form-input__label">Description du service</label>
                                    <input type="text" name="serviceDescription" id="serviceDescription" class="form-input__input" value="{{ service.description }}">
                                </div>
                                <div class="form-input">
                                    <label for="serviceImg" class="form-input__label">Image du service</label>
                                    <img width="400" src="{{ UPLOAD_DIR ~ '/' ~ service.img }}" alt="">
                                    <input class="form-input__input" type="file" name="serviceImg" id="serviceImg">
                                </div>
                                <input type="hidden" name="serviceId" value="{{ service.serviceId }}">
                                <input type="hidden" name="crudAction" value="CREATE">
                                <button class="form__submit-btn" type="submit">Confirmer</button>
                            </form>
                        </div>
                    </dialog>
                    <dialog id="dialog-delete-service" class="dialog">
                        <div class="dialog__content">
                            <div class="dialog__header">
                                <h2>Supprimer un service</h2>
                            </div>
                            <form action="" method="POST" autocomplete="off">
                                <p>Êtes vous sûr de vouloir supprimer ce service ?</p>
                                <div class="d-flex justify-content-between">
                                    <button class="button--active" type="submit" name="deleteService" value="yes">Oui</button>
                                    <button class="button--active" type="submit" name="deleteService" value="no">Non</button>
                                </div>
                                <input type="hidden" name="serviceId" value="{{ service.serviceId }}">
                                <input type="hidden" name="crudAction" value="DELETE">
                            </form>
                        </div>
                    </dialog>
                {% endfor %}
            </ul>
            <dialog id="dialog-add-service" class="dialog">
                <div class="dialog__content">
                    <div class="dialog__header">
                        <h2 class="dialog__title">Ajouter un service</h2>
                    </div>
                    <form class="form" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                        <div class="form-input">
                            <label for="serviceName" class="form-input__label">Nom du service</label>
                            <input type="text" name="serviceName" id="serviceName" class="form-input__input">
                        </div>
                        <div class="form-input">
                            <label for="serviceDescription" class="form-input__label">Description du service</label>
                            <input type="text" name="serviceDescription" id="serviceDescription" class="form-input__input">
                        </div>
                        <div class="form-input">
                            <label for="serviceImg" class="form-input__label">Image du service</label>
                            <input type="file" name="serviceImg" id="serviceImg" class="form-input__input">
                        </div>
                        <input type="hidden" name="crudAction" value="CREATE">
                        <button class="form__submit-btn" type="submit">Confirmer</button>
                    </form>
                </div>
            </dialog>
        </div>
    </section>
{% endblock %}