{% extends "admin/admin.html.twig" %}

{% block main %}
    <section>
        <div class="size-medium">
            <h1>Liste des rapports vétérinaires :</h1>
            {% for error in formErrors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {% if session.role.name == 'ROLE_VETERINARIAN' %}
                <button class="dialog-btn button--active" data-dialog-id="dialog-add-veterinarian-report">Ajouter un rapport vétérinaire</button>
            {% endif %}
            <ul>
                {% for report in veterinarianReports %}
                    <li>
                        <h2>Rapport du {{ report.date|date('d/m/Y') }}</h2>
                        <p><b>Contenu :</b> {{ report.detail }}</p>
                        <p><b>Animal :</b></p>
                        <ul>
                            <li><b>Nom :</b> {{ report.animal.firstname }}</li>
                            <li><b>Habitat :</b> {{ report.animal.habitat.name }}</li>
                            <li><b>Race :</b> {{ report.animal.breed.name }}</li>
                        </ul>
                        <div class="gallery--slider">
                            <div class="gallery__content">
                                {% for animalImage in report.animal.animalImages %}
                                    <div class="gallery__slide">
                                        <img class="gallery__item rounded-img" src="{{ UPLOAD_DIR ~ '/' ~ animalImage.name }}" alt="">
                                    </div>
                                {% endfor %}
                            </div>
                            {% if animal.animalImages|length > 1 %}
                                <div class="gallery__controls">
                                    {% for animalImage in animal.animalImages %}
                                    {% set firstValue = animal.animalImages|first %}
                                        <input type="radio" name="animal_image-{{ animal.animalId }}" {% if animalImage == firstValue %} checked {% endif %} autocomplete="off">
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <p><b>Nourriture consommée :</b> {{ report.foodType }} ({{ report.foodQuantity ~ report.foodUnit }})</p>
                        <p><b>Créé par :</b> {{ report.user.firstname }}</p>
                        
                        {% if session.role.name == 'ROLE_VETERINARIAN' %}
                            <button class="dialog-btn button--active" data-dialog-id="dialog-modify-veterinarian-report-{{ report.veterinarianReportId }}">Modifier</button>
                            <button class="dialog-btn button--active" data-dialog-id="dialog-delete-veterinarian-report-{{ report.veterinarianReportId }}">Supprimer</button>
                        {% endif %}
                    </li>
                    <hr>
                    {% if session.role.name == 'ROLE_VETERINARIAN' %}
                        <dialog class="dialog" id="dialog-modify-veterinarian-report-{{ report.veterinarianReportId }}" >
                            <div class="dialog__content">
                                <div class="dialog__header">
                                    <h2 class="dialog__title">Modification utilisateur :</h2>
                                </div>
                                <form class="form" action="" method="POST" autocomplete="off">
                                    <div class="form-input">
                                        <label class="form-input__label" for="date">Date</label>
                                        <input class="form-input__input" type="date" name="date" id="date" value="{{ report.date }}" required>
                                    </div>
                                    <div class="form-input">
                                        <label class="form-input__label" for="detail">Contenu du rapport</label>
                                        <textarea class="form-input__input" name="detail" id="detail">{{ report.detail }}</textarea>
                                    </div>
                                    <div class="form-input">
                                        <label for="foodQuantity" class="form-input__label">Quantité de nourriture donnée</label>
                                        <input type="number" name="food_quantity" id="foodQuantity" class="form-input__input" value="{{ report.foodQuantity }}">
                                    </div>
                                    <div class="form-input">
                                        <label for="foodUnitId" class="form-input__label">Unité de mesure</label>
                                        <select class="form-input__input" name="food_unit_id" id="food-unit-select">
                                            {% for foodUnit in foodUnits %}
                                                <option value="{{ foodUnit.foodUnitId }}" {% if foodUnit.foodUnitId == report.foodUnit.foodUnitId %} selected {% endif %}>{{ foodUnit }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-input">
                                        <label for="foodTypeId" class="form-input__label">Nourriture donnée</label>
                                        <select class="form-input__input" name="food_type_id" id="food-unit-select">
                                            {% for foodType in foodTypes %}
                                                <option value="{{ foodType.foodTypeId }}" {% if foodType.foodTypeId == report.foodType.foodTypeId %} selected {% endif %}>{{ foodType }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-input">
                                        <label for="animal" class="form-input__label">Nourriture donnée</label>
                                        <select class="form-input__input" name="animal_id" id="animal">
                                            {% for animal in animals %}
                                                <option value="{{ animal.animalId }}" {% if animal.animalId == report.animal.animalId %} selected {% endif %}>{{ animal.firstname }} - {{ animal.habitat }} - {{ animal.breed }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button class="form__submit-btn" type="submit">Confirmer</button>

                                    <input type="hidden" name="veterinarian_report_id" value="{{ report.veterinarianReportId }}">
                                    <input type="hidden" name="user_id" value="{{ user.userId }}">
                                    <input type="hidden" name="crudAction" value="UPDATE">
                                    <input type="hidden" name="sent_at" value="{{ "now"|date('Y-m-d H:i:s') }}">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                </form>
                            </div>
                        </dialog>
                        <dialog class="dialog" id="dialog-delete-veterinarian-report-{{ report.veterinarianReportId }}">
                            <div class="dialog__content">
                                <div class="dialog__header">
                                    <h3 class="dialog__title">Supprimer un rapport</h3>
                                </div>
                                <form action="" method="POST">
                                    <p>Êtes vous sûr de vouloir supprimer ce rapport ?</p>
                                    <div class="form-input">
                                        <button class="button--active" type="submit" formmethod="dialog">Non</button>
                                        <button class="button--active" type="submit">Oui</button>
                                    </div>
                                    <input type="hidden" name="veterinarian_report_id" value="{{ report.veterinarianReportId }}">
                                    <input type="hidden" name="user_id" value="{{ user.userId }}">
                                    <input type="hidden" name="crudAction" value="DELETE">
                                    <input type="hidden" name="sent_at" value="{{ "now"|date('Y-m-d H:i:s') }}">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                </form>
                            </div>
                        </dialog>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>

    {% if session.role.name == 'ROLE_VETERINARIAN' %}
        <dialog class="dialog" id="dialog-add-veterinarian-report" >
            <div class="dialog__content">
                <div class="dialog__header">
                    <h2 class="dialog__title">Modification utilisateur :</h2>
                </div>
                <form class="form" action="" method="POST" autocomplete="off">
                    <div class="form-input">
                        <label class="form-input__label" for="date">Date</label>
                        <input class="form-input__input" type="date" name="date" id="date" required>
                    </div>
                    <div class="form-input">
                        <label class="form-input__label" for="detail">Contenu du rapport</label>
                        <textarea class="form-input__input" name="detail" id="detail"></textarea>
                    </div>
                    <div class="form-input">
                        <label for="foodQuantity" class="form-input__label">Quantité de nourriture donnée</label>
                        <input type="number" name="food_quantity" id="foodQuantity" class="form-input__input">
                    </div>
                    <div class="form-input">
                        <label for="foodUnitId" class="form-input__label">Unité de mesure</label>
                        <select class="form-input__input" name="food_unit_id" id="food-unit-select">
                            {% for foodUnit in foodUnits %}
                                <option value="{{ foodUnit.foodUnitId }}">{{ foodUnit }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-input">
                        <label for="foodTypeId" class="form-input__label">Nourriture donnée</label>
                        <select class="form-input__input" name="food_type_id" id="food-unit-select">
                            {% for foodType in foodTypes %}
                                <option value="{{ foodType.foodTypeId }}">{{ foodType }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-input">
                        <label for="animal" class="form-input__label">Nourriture donnée</label>
                        <select class="form-input__input" name="animal_id" id="animal">
                            {% for animal in animals %}
                                <option value="{{ animal.animalId }}">{{ animal.firstname }} - {{ animal.habitat }} - {{ animal.breed }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="form__submit-btn" type="submit">Confirmer</button>
                    
                    <input type="hidden" name="user_id" value="{{ user.userId }}">
                    <input type="hidden" name="crudAction" value="CREATE">
                    <input type="hidden" name="sent_at" value="{{ "now"|date('Y-m-d H:i:s') }}">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
            </div>
        </dialog>
    {% endif %}

{% endblock %}