{% extends "base.html.twig" %}

{% block main %}
    <h1 class="txt-centered color-primary">Nos habitats</h1>
    <section>
        <div class="panels__controls | size-large">
            {% for habitat in habitats %}
                <button class="panels__control" aria-controls="panel-{{ habitat['name']|replace({' ':'-'})|lower }}" style="--background: url({{ IMG_DIR }}/original-images/{{ habitat['img'] }})">
                    <h2>{{ habitat['name'] }}</h2>
                </button>
            {% endfor %}
        </div>
        <div class="panels" style="--background: url({{ IMG_DIR }}/original-images/{{ habitats[0]['img'] }})"> 
        {% for habitat in habitats %}
            <div class="panel | size-large {% if loop.index0 != 0 %}d-none{% endif %}" id="panel-{{ habitat['name']|replace({' ':'-'})|lower }}">
                <h2 class="panel__title | color-secondary">{{ habitat['name'] }}</h2>
                <div class="panel__content">
                    <p class="size-medium">{{ habitat['description'] }}</p>
                    <div>
                        <ul>
                            {% for specie in habitat['species'] %}
                                <li>{{ specie['name'] }}</li>
                            {% endfor %}
                        </ul>
                        <ul>
                            {% for specie in habitat['species'] %}
                                {% for animal in specie['animals'] %}
                                    <li>{{ animal['name'] }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
{% endblock %}