{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ CSS_DIR }}/pages/homepage.css">
{% endblock %}

{% block javascripts %}
    <script type="module" src="{{ JS_DIR ~ '/homepage.js' }}"></script>
{% endblock %}

{% block main %}
    <section class="hero-banner">
        <div class="size-medium">
            <div>
                <h1 class="hero-banner__title">Arcadia</h1>
                <p class="hero-banner__subtitle">Parc animalier</p>
                <p class="hero-banner__catchphrase">Un univers de merveilles s'offre à vous</p>
            </div>
        </div>
    </section>
    <section>
        <h2 class="size-medium">Vivez une aventure sans précédent</h2>
        <div class="gallery gallery--3 | size-large mb-2em">
            <div class="gallery__content">
                <div class="gallery__item">
                    <p class="color-primary">Exploration</p>
                    <img class="rounded-img" src="{{ IMG_DIR }}/img-hyena.webp" width="" height="" alt="">
                </div>
                <div class="gallery__item">
                    <p class="color-primary">Emerveillement</p>
                    <img class="rounded-img" src="{{ IMG_DIR }}/img-elephant.webp" width="" height="" alt="">
                </div>
                <div class="gallery__item">
                    <p class="color-primary">Découverte</p>
                    <img class="rounded-img" src="{{ IMG_DIR }}/img-lion.webp" width="" height="" alt="">
                </div>
            </div>
        </div>
        <div class="size-medium">
            <p>Notre zoo, situé près de la forêt de Brocéliande, en Bretagne, dispose de nombreuses activités centrés autour des animaux. Ces derniers, provienent de nombreux endroits de la planète afin de vous proposer une expérience entièrement dépaysante et vous permettant de découviri toute la beauté que la planète a a nous offrir.</p>
            <p>Elevés dans des environnement proches de ceux de leur état naturel, les animaux du parc sont très variés. De l'éléphant, au lion, en passant par l'autruche ou la gazelle, nous vous proposons de vous immisser des un environnement semi-naturel où vous serez époustouflés !</p>
        </div>
    </section>
    <section class="domains__section">
        <div>
            <h2 class="domains__title | size-medium"><button>&lt;</button>Nos domaines : <button>&gt;</button></h2>
            <ul class="domains">
                {% for habitat in habitats %}
                    <li class="domain">
                        <h3 class="domain__name | size-medium">{{ habitat.name }}</h3>
                        <div class="domain__animals gallery gallery--slider">
                            <div class="gallery__content">
                                {% for breed in habitat.breeds %}
                                    {% for animal in breed.animals %}
                                        {% set firstAnimalImage = animal.animalImages|first %}
                                        <a class="gallery__slide rounded-img--with-caption" href="/habitats">
                                            <img class="gallery__item rounded-img" src="{{ UPLOAD_DIR ~ '/' ~ firstAnimalImage.name }}" width="" height="" alt="">
                                            <p class="caption">{{ animal.firstname }}</p>
                                        </a>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            <fieldset class="gallery__controls">
                                <legend class="visually-hidden">Séléctionnez un animal :</legend>
                                {% for breed in habitat.breeds %}
                                    {% set breedLoopIndex = loop.index0 %}
                                    {% for animal in breed.animals %}
                                        <label class="visually-hidden" for="animal-control-{{ animal.firstname|lower }}">{{ animal.firstname }}</label>
                                        <input type="radio" name="{{ habitat.name|lower }}-animal-control" id="animal-control-{{ animal.firstname|lower }}" {% if breedLoopIndex == 0 %} checked {% endif %} autocomplete="off">
                                    {% endfor %}
                                {% endfor %}
                            </fieldset>
                        </div>
                        <div class="domain__description | size-medium">
                            {{ habitat.description }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section>
        <div class="size-medium">
            <h2>Les valeurs qui nous animent</h2>
            <div class="media-and-text">
                <div class="media-and-text__media rounded-img--with-caption">
                    <img class="rounded-img" src="{{ IMG_DIR }}/img-earth.webp" width="" height="" alt="La planète terre entourée de feuilles d'arbre vertes.">
                    <h3 class="caption">Ecologie</h3>
                </div>
                <div class="media-and-text__content">
                    <p>Nous sommes très fiers de pouvoir dire que nous sommes 100% indépendants énergétiquement et ce, grâce à de nombreuses installations énergétiques présentes dans notre zoo. Ceci constitue un grand pas vers la sauvegarde de notre planète et nous sommes heureux de pouvoir affirmer notre engagement écologique et oeuvrer à l'assurance d'une vie meilleures pour les générations à venir.</p>
                    <p>La sauvegarde de nos animaux comme de l'énergie utilisée dans le zoo sont fondamentales pour l'intégrité de la planète !</p>
                </div>
            </div>
            <div class="media-and-text">
                <div class="media-and-text__media rounded-img--with-caption">
                    <img class="rounded-img" src="{{ IMG_DIR }}/img-zebra.webp" width="" height="" alt="Un zèbre dans la savane réalisant un saut.">
                    <h3 class="caption">Bien être animal</h3>
                </div>
                <div class="media-and-text__content">
                    <p>Par ailleurs, à Arcadia, la santé et le bien être de nos animaux est une priorité ! Nous tenons à ce que chaque animal se sente bien, dispose de tout ce dont il a besoin et puisse vivvre dans les meilleurs conditions possibles.</p>
                    <p>Pour cela, nous mettons tout en oeuvre matin, midi et soir grâce à une équipe de vétérinaires et soignants dévoués à ces tâches.</p>
                    <p>D'ailleurs, nous vous mettons à disposition tout un ensemble d'informations concernant nos animaux, allez y jeter un oeil !</p>
                </div>
            </div>
        </div>
    </section>
    <section class="services__section">
        <div class="services">
            <h2 class="services__title">Nos services</h2>
            <div class="service gallery gallery--slider | size-large">
                <div class="gallery__content">
                    {% for service in services %}
                        <a href="/services" class="gallery__slide rounded-img--with-caption">
                            <img class="service__img rounded-img" src="{{ UPLOAD_DIR ~ '/' ~ service.img }}" width="" height="" alt="">
                            <p class="service__name caption">{{ service.name }}</p>
                        </a>
                    {% endfor %}
                </div>
                <fieldset class="gallery__controls">
                    <legend class="visually-hidden">Séléctionnez un service :</legend>
                    {% for service in services %}
                        <label class="visually-hidden" for="gallery-control-{{ service.name|lower }}">{{ service.name }}</label>
                        <input type="radio" name="service-gallery-control" id="gallery-control-{{ service.name|lower }}" {% if service == services|first %} checked {% endif %}>
                    {% endfor %}
                </fieldset>
            </div>
            
        </div>
    </section>
    <section>
        <div class="size-medium">
            <h2>Alors ? Qu'attendez-vous ?</h2>
            <div>
                <h3 class="txt-centered">Horaires d'ouverture</h3>
                <p>Nous sommes principalement ouvert le mercredi, le samedi et le dimanche afin que vous et votre famille puissent profiter pleinement de l'expérience Arcadia !</p>
                <div class="table__wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Horaires</th>
                                {% for day in weekDays %}
                                    <th>{{ day.day }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for scheduleHour in schedulesHours %}
                                <tr>
                                    <th scope="row">{{ scheduleHour.hour }}</th>
                                    {% for schedule in scheduleHour.schedules %}
                                        <td>
                                            {% set imgSrc = (schedule.isOpen == 'true') ? 'checkmark.svg' : 'cross.svg' %}
                                            <img src="{{ IMG_DIR }}/{{ imgSrc}}" width="" height="" alt="">
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>
            <div>
                <h3 class="txt-centered">Où nous retrouver ?</h3>
                <p>Retrouvez-nous, au 9 avenue des Acacias, près de la forêt de Brocéliande, en Bretagne</p>
                {# <iframe src="" frameborder="0">Carte Google Maps indiquant la position du zoo Arcadia</iframe> #}
                <img src="{{ IMG_DIR }}/img-map.webp" width="" height="" alt="">
            </div>
        </div>
    </section>
    <section class="feedbacks__section">
        <div class="size-medium">
            <h2 class="color-primary">Vos avis comptent pour nous :</h2>
            <div>
                <h3 class="fw-bold color-primary">Rédiger un avis</h3>
                <form id="feedback-form" class="form" method="POST" action="">
                    <div class="form-input">
                        <label class="form-input__label" for="username">Pseudonyme :</label>
                        <input class="form-input__input" type="text" name="username" id="username">
                    </div>
                    <div class="form-input">
                        <label class="form-input__label" for="content">Avis :</label>
                        <textarea class="form-input__input" form="feedback-form" type="text" name="content" id="content"></textarea>
                    </div>
                    <input type="hidden" name="date" value="{{ "now"|date('d/m/Y') }}">
                    <button class="button--active">Donner votre avis</button> 
                    <input type="hidden" name="sent_at" value="{{ "now"|date('Y-m-d H:i:s') }}">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
            </div>
            <div class="feedbacks">
                {% for feedback in feedbacks %}
                    <div class="feedback">
                        <p><span class="fw-bold color-primary">Publié le : </span>{{ feedback.date|date('d/m/Y') }}</p>
                        <p><span class="fw-bold color-primary">Par : </span>{{ feedback.username }}</p>
                        <p>{{ feedback.content }}</p>
                    </div>
                    <hr>
                {% endfor %}
                <div class="fw-bold d-flex justify-content-between">
                    <p>&lt;&lt; Page précédente</p>
                    <p>Page {{ pages.current }} sur {{ pages.total }}</p>
                    <p>Page suivante &gt;&gt;</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}